@import "tailwindcss";
@plugin './hero.js';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@custom-variant dark (&:where(.dark, .dark *));

.loader {
  width: fit-content;
  font-size: 40px;
  font-family: system-ui,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background: conic-gradient(#000 0 0) 0/0% 100% no-repeat text;
  animation: l1 1s linear infinite;
}
.loader:before {
  content: "Loading";
}
@keyframes l1 {
  to{background-size: 120% 100%}
}


/* body {
  @apply dark:bg-black
  dark:text-white;
  /* font-family: 'Times New Roman', Times, serif; */
 